<footer class="bg-primary-dark w-full footer">
  <div class="my-auto h-full pt-[25px] pb-[25px] flex items-center justify-center flex-col">
      <p
        class="text-xl font-semibold text-white font-neue-haas-grotesk-display-pro pb-1"
        >Comment ça marche ?</p>
      <p class="text-[13.5px] font-normal text-white font-neue-haas-grotesk-display-pro text-center w-4/5">
        Envoie nous ta commande au numéro ci-joint. Inscris ton adresse,
        numéro de téléphone et nous te répondrons dans les plus brefs délais pour confirmer ta commande.
      </p>

    <div class=" bg-primary-light rounded-sm p-1 relative px-5 py-3 w-fit mt-4">
      <a href="tel:+33613529307" class="text-center text-[15px] text-white font-semibold font-neue-haas-grotesk-display-pro underline tracking-wide">06 13 52 93 07</a>
    </div>
  </div>
</footer>
