<header class="h-28 bg-primary-dark flex justify-between">
  <div
      class="my-auto ml-9"
    >
      <div
        id="menu_menu_burger"
        class="z-50 flex flex-col h-12 w-12 bg-white rounded justify-center items-center cursor-pointer"
      >
        <div
          class="menu__burger__sides__open h-[3px] w-[70%] my-1 rounded-full bg-primary-dark transition ease transform duration-300 rotate-45 translate-y-[6px]"
        ></div>
        <!-- <div
          class="menu__burger__middle__open h-[3px] w-6 my-1 rounded-full bg-secondary transition ease transform duration-300"
        ></div> -->
        <div
          class="menu__burger__sides__open h-[3px] w-[70%] my-1 rounded-full bg-primary-dark transition ease transform duration-300 rotate-[-45deg] translate-y-[-5px]"
        ></div>
      </div>
    </div>
</header>
